framework: netstandard2.0
source https://api.nuget.org/v3/index.json

group Build
framework: net45
content: none
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:v4-temp
